*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

input{
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    font-size: 16px;

}

table{
    border-collapse: collapse;
    width: 100%;

}
th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;


}
th{
    background-color: #f2f2f2;

}

img{
    width: 40px;
}